
RewriteEngine On

# Bloque l'acce à la racine de l'appli
Options -Indexes

# Redirection vers l'index.php dans le dossier public :
RewriteRule ^$ /public/index.php [L]

# Retire toutes les extensions (dont .php) :
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)/$ /$1 [L,R]

# Retire le dernier slash :
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*[^/])/$ /$1 [L,R]

# Redirige TOUTES les requêtes restantes vers index.php dans le dossier public :
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /public/index.php?uri=$1 [QSA,L]
