
body {
    background-image: url("/public/img/background/cinema_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
}

li {
    list-style: none;
}

input.valid {
    border-color: #318307 !important;
    box-shadow: #318307 0 0 3px 2px;
}

input.invalid {
    border-color: #ba8b00!important;
    box-shadow: #ba8b00 0 0 3px 2px;
}

input.error {
    border-color: #721c24!important;
    box-shadow: #721c24 0 0 3px 2px;
}

.invalid-message {
    visibility: visible;
}
.invalid-message.error {
    color: #b01919;
}
.invalid-message.hide {
    visibility: hidden;
}
.hidden {
    visibility: hidden;
}

main.main-page {
    padding-bottom: 3em!important;
}
main header h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    font-weight: bold;
}

#Signout {
    max-width: 450px;
}

main header .dropdown-menu {
    width: max-content;
    height: 250px;
}
.bill-container {
    width: 180px;
    height: 240px;
    overflow: hidden;
}
img.card-img-top {
    object-fit: contain;
    margin-left: -2px;
    transition: transform 0.3s ease;
}
.bill:hover {
    transform: scale(1.2);
    transform-origin: center;
    cursor: pointer;
}
.card-info {
    max-width: 180px;
    min-width: 150px;
    overflow: hidden;
}
.card-info h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info h5 a:hover {
    color: #6c757d !important;
}
.card-text {
    padding-left: 0;
    text-transform: capitalize;
    list-style: none;
}

/* ------------------ *\
   CSS ADMINISTRATION
\* ------------------ */
#AdminHeader {
    height: 4rem;
}

#AdminContent {
    display: grid;
    grid-template:
            "aside breadcrumb" 1.6rem
            "aside header" 10.4rem
            "aside section"  minmax(calc(100vh - 16rem), 1fr) / 12rem auto;
}
#AdminContent header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 3.2rem auto;
    padding-right: 1rem;
}
#AdminContent section {
    padding: 0 1.6rem;
}

#AdminContent section,
#AdminContent table {
    grid-area: section;
    margin: 0 auto 3.2rem auto;
}

#AdminContent aside {
    grid-area: aside;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1);
}

#AdminContent table {
    max-width: 1500px;
    margin: 0 auto;
}
/* --- navigation --- */
#AdminContent .main-menu ul {
    padding: 0.8rem 0;
}
#AdminContent .main-menu li {
    padding: 0 0.8rem;
}
#AdminContent .breadcrumb {
    grid-area: breadcrumb;
    margin: 0;
    padding: 0;
    padding-left: 1.6rem;
}
#AdminContent .action-menu ul {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.8rem;
}

/* --- Formulaire --- */
form h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}
label {
    margin: 0!important;
    padding: 0!important;
    font-size: 0.8rem;
}
input,
textarea,
select,
button {
    margin-bottom: 0.8rem;
}
.test datalist {
    background-color: #0a3622;
}
textarea {
    resize: none;
}
button {
    justify-self: end;
    width: min-content;
    min-width: 10rem;
}

/* --- ui autocomplete --- */
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    display: none;
}
#AdminContent form {
    max-width: 888px;
    margin: 0 auto;
}
#AdminContent form.film {
    display: grid;
    grid-template-columns: 138px repeat(3, 1fr) repeat(2, 138px);
    grid-auto-rows: minmax(min-content, auto);
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.8rem;
}

/* --- ADMIN MOVIE --- */
#AdminContent .form-message {
    grid-row: 1;
}
#AdminContent .film .titre,
#AdminContent .film .exploitation {
    grid-row: 2;
}
#AdminContent .film label:first-of-type,
#AdminContent label[for="SelectCinema"] {
    grid-row: 3;
}
#AdminContent .film input:first-of-type,
#AdminContent #SelectCinema {
    grid-row: 4;
}
#AdminContent label[for="InputDateSortie"],
#AdminContent label[for="InputDateDebut"],
#AdminContent label[for="InputDateFin"] {
    grid-row: 5;
}
#AdminContent #InputDateSortie,
#AdminContent #InputDateDebut,
#AdminContent #InputDateFin {
    grid-row: 6;
}
#AdminContent label[for="TextareaCinopsys"] {
    grid-row: 7;
}
#AdminContent #TextareaCinopsys {
    grid-row: 8/10;
}
#AdminContent .thumb {
    grid-row: 8/12;
    justify-self: center;
}
#AdminContent label[for="InputAffiche"] {
    grid-row: 11;
}
#AdminContent #InputAffiche {
    grid-row: 12;
}

#AdminContent .file-name,
#AdminContent button {
    grid-row: 13;
}

#AdminContent label[for="InputDateSortie"],
#AdminContent #InputDateSortie {
    grid-column: 1;
}
#AdminContent .file-name {
    grid-column: 1/3;
}
#AdminContent .film .titre,
#AdminContent .film label:first-of-type,
#AdminContent .film input:first-of-type {
    grid-column: 1/5;
}
#AdminContent .form-message {
    grid-column: 1/7;
}
#AdminContent .film .exploitation,
#AdminContent label[for="SelectCinema"],
#AdminContent #SelectCinema,
#AdminContent .thumb {
    grid-column: 5/7;
}
#AdminContent label[for="InputDateDebut"],
#AdminContent #InputDateDebut {
    grid-column: 5/6;
}
#AdminContent label[for="InputDateFin"],
#AdminContent #InputDateFin {
    grid-column: 6/7;
}

#AdminContent label[for="TextareaCinopsys"],
#AdminContent #TextareaCinopsys {
    grid-column: 1/5;
}
#AdminContent #InputAffiche,
#AdminContent label[for="InputAffiche"] {
    grid-column: 1/4;
}

#AdminContent button {
    grid-column: 1/-1;
}

@media screen and (max-width: 960px) {
    #AdminContent {
        grid-template-columns: 160px auto;
    }
    #AdminContent form.film {
        grid-template-columns: repeat(4,1fr);
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent label[for="SelectVille"] {
        grid-row: 4;
    }
    #AdminContent #SelectSalle,
    #AdminContent #SelectVille {
        grid-row: 5;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-row: 6;
    }
    #AdminContent label[for="InputDateDebut"],
    #AdminContent label[for="InputDateFin"] {
        grid-row: 7;
    }
    #AdminContent #InputDateDebut,
    #AdminContent #InputDateFin {
        grid-row: 8;
    }
    #AdminContent label[for="TextareaCinopsys"] {
        grid-row: 9;
    }
    #AdminContent #TextareaCinopsys {
        grid-row: 10;
    }
    #AdminContent label[for="InputAffiche"] {
        grid-row: 11;
    }
    #AdminContent #InputAffiche {
        grid-row: 12;
    }
    #AdminContent button {
        grid-row: 13;
    }
    #AdminContent .film label:first-of-type,
    #AdminContent .film input:first-of-type {
        grid-column: 1/4;
    }
    #AdminContent .film h2:first-of-type {
        grid-column: 1/5;
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent #SelectSalle {
        grid-column: 1/3;
    }
    #AdminContent label[for="SelectVille"],
    #AdminContent #SelectVille {
        grid-column: 3/5;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-column: 1/3;
    }
    #AdminContent label[for="InputDateDebut"],
    #AdminContent #InputDateDebut {
        grid-column: 1;
    }
    #AdminContent label[for="InputDateFin"],
    #AdminContent #InputDateFin {
        grid-column: 2;
    }
    #AdminContent label[for="TextareaCinopsys"],
    #AdminContent #TextareaCinopsys {
        grid-column: 1/5;
    }

}
@media screen and (max-width: 768px) {
    #AdminContent form.film {
        grid-template-columns: repeat(2, 1fr) 140px;
        grid-column-gap: 1.2rem;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-row: 3;
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent label[for="InputDateDebut"] {
        grid-row: 4;
    }
    #AdminContent #SelectSalle,
    #AdminContent #InputDateDebut {
        grid-row: 5;
    }
    #AdminContent label[for="SelectVille"],
    #AdminContent label[for="InputDateFin"] {
        grid-row: 6;
    }
    #AdminContent #SelectVille,
    #AdminContent #InputDateFin {
        grid-row: 7;
    }
    #AdminContent label[for="TextareaCinopsys"] {
        grid-row: 8;
    }
    #AdminContent #TextareaCinopsys {
        grid-row: 9;
    }
    #AdminContent label[for="InputAffiche"] {
        grid-row: 10;
    }
    #AdminContent #InputAffiche {
        grid-row: 11;
    }
    #AdminContent button {
        grid-row: 12;
    }
    #AdminContent .film h2:first-of-type,
    #AdminContent label[for="SelectSalle"],
    #AdminContent #SelectSalle,
    #AdminContent label[for="SelectVille"],
    #AdminContent #SelectVille {
        grid-column: 1/3;
    }
    #AdminContent .film h2:nth-of-type(2),
    #AdminContent label[for="InputDateDebut"],
    #AdminContent #InputDateDebut,
    #AdminContent label[for="InputDateFin"],
    #AdminContent #InputDateFin {
        grid-column: 3;
    }
    #AdminContent label[for="TextareaCinopsys"],
    #AdminContent #TextareaCinopsys {
        grid-column: 1/4;
    }
    #AdminContent #InputAffiche,
    #AdminContent label[for="InputAffiche"] {
        grid-column: 1/4;
    }

}
/* ------------------ *\
     CSS NAVIGATION
\* ------------------ */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumb ul {
    display: flex;
}
.breadcrumb li::after {
    content: ">";
    margin: 0 0.25rem;
}
.breadcrumb li:last-of-type::after {
    content: "";
}

.pagination {
    --bs-pagination-color: var(--bs-gray);
    --bs-pagination-hover-color: var(--bs-yellow);
    --bs-pagination-focus-box-shadow: unset;
    --bs-pagination-focus-color: var(--bs-warning-text-emphasis);
    --bs-pagination-active-color: var(--bs-yellow);
    --bs-pagination-disabled-color: var(--bs-gray-dark);
    --bs-pagination-border-width: none;
    --bs-pagination-bg: unset;
    --bs-pagination-hover-bg: unset;
    --bs-pagination-focus-bg: unset;
    --bs-pagination-active-bg: unset;
    --bs-pagination-disabled-bg: unset
}
.pagination .page-link:hover:not(span) {
    text-decoration: underline overline;
    text-underline-offset: 0.35em;
}
.pagination .page-link:not(a) {
    font-weight: bold;
    cursor: default;
}
body>footer {
    height: 3em;
    margin-top: 3em;
}

