
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("/public/img/background/cinema_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
}
dl,
dt,
dd {
    padding: 0!important;
    margin: 0!important;
}

.hidden {
    visibility: hidden;
}
/* --- NAV --- */

.nav-link:hover {
    color:var(--bs-yellow) !important;
}
/* --- ICON --- */

.icon {
    width: 32px;
    height: 32px;
}
.profil-icon,
.renew-icon,
.visibility-icon,
.visibility-off-icon {
    width: 100%;
    height: 100%;
    display: block;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s, transform 0.3s;
}
.profil-icon {
    background-color: var(--bs-yellow);
    mask: url("../img/icon/account_circle.svg") no-repeat center;
}
.renew-icon {
    background-color: var(--bs-gray);
    mask: url("../img/icon/autorenew.svg") no-repeat center;
}
.visibility-icon {
    background-color: var(--bs-teal);
    mask: url("../img/icon/visibility.svg") no-repeat center;
}
.visibility-off-icon {
    background-color: var(--bs-gray);
    mask: url("../img/icon/visibility_off.svg") no-repeat center;
}

.icon:hover .renew-icon,
.icon:hover .visibility-icon,
.icon:hover .visibility-off-icon {
    cursor: pointer;
    background-color: var(--bs-yellow);
}
.icon:hover .profil-icon,
.icon:active .renew-icon
{
    transform: rotate(180deg); /* Rotation de 90 degrés au survol */
}

/* --- INPUT --- */
input.valid {
    border-color: #318307 !important;
    box-shadow: #318307 0 0 3px 2px;
}

textarea.invalid,
input.invalid {
    border-color: #ba8b00!important;
    box-shadow: #ba8b00 0 0 3px 2px;
}
.invalid-message.invalid {
    color: var(--bs-yellow) !important;
}

textarea.error,
input.error {
    border-color: #721c24!important;
    box-shadow: #721c24 0 0 3px 2px;
}

/* --- Message --- */
.info-alert {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.8rem;
    color: white;
    text-align: center;
    border-radius: 0.4rem;
    background-color: #721c24;
}
.invalid-message.error {
    color: var(--bs-red) !important;
}


main.main-page {
    padding-bottom: 3em!important;
}
main header h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    font-weight: bold;
}



/* ---------------------- *\
          Profil
\* ---------------------- */

/* --- Formulaire --- */
section .edit-profil {
    max-width: 640px;
}

/* ---------------------- *\
  FORMULAIRE D'INSCRIPTION
\* ---------------------- */

section.sign {
    max-width: 1280px;
    min-height: 578px;
}
section.sign div:first-of-type {
    max-width: 550px;
}
@media screen and (max-width: 990px) {
    section.sign div:last-of-type {
        border: none!important;
    }
}
@media screen and (max-width: 576px) {
    section.sign {
        max-width: 385px;
    }
    section.sign div:first-of-type form {
        max-width: 300px;
    }

}
/* ------------------ *\
      MAIN HEADER
\* ------------------ */
main header .dropdown-menu {
    width: max-content;
    height: 250px;
}
/* ------------------ *\
     VIGNETTE FILM
\* ------------------ */
.bill-container {
    width: 180px;
    height: 240px;
    overflow: hidden;
}
img.card-img-top {
    object-fit: contain;
    margin-left: -2px;
    transition: transform 0.3s ease;
}
.bill:hover {
    transform: scale(1.2);
    transform-origin: center;
    cursor: pointer;
}
.card-info {
    max-width: 180px;
    min-width: 150px;
    overflow: hidden;
}
.card-info h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info h5 a:hover {
    color: #6c757d !important;
}
.card-text {
    padding-left: 0;
    text-transform: capitalize;
    list-style: none;
}

/* ------------------ *\
     PAGE SHOW FILM
\* ------------------ */
#Film h1,
#Film h2,
#Cinema h1,
#Cinema h2 {
    text-transform: capitalize;
}

section#Film {
    margin: 4rem 0;
    border-right: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}
section#Cinema {
    margin: 4rem 0;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(27, 32, 37,  80);
}
img.affiche {
    display: block;
    max-width: 360px;
    width: 100%;
    margin: 2rem auto;
}

/* ----- Seance Card ----- */
#Cinema .card-body {
    padding:0.5rem!important;
    text-align: center;
}

#Cinema .card h4 {
    font-size: 1rem;
}

@media screen and (max-width: 990px) {
    #Film {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        background-color: rgba(255, 255, 255, 0.2);
    }
    #Cinema {
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    img.affiche {
        max-width: 280px;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 766px) {
    #Film,
    #Cinema {
        border-radius: 0;
    }
    img.affiche {
        max-width: 240px;
        margin: 2rem auto;
    }
}

/* ------------------ *\
   CSS ADMINISTRATION
\* ------------------ */
#AdminHeader {
    height: 4rem;
}

#AdminContent {
    display: grid;
    grid-template:
            "aside breadcrumb" 1.6rem
            "aside header" 10.4rem
            "aside section"  minmax(calc(100vh - 16rem), 1fr) / 12rem auto;
}
#AdminContent header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 3.2rem auto;
    padding-right: 1rem;
}
#AdminContent section {
    padding: 0 1.6rem;
}

#AdminContent section,
#AdminContent table {
    grid-area: section;
    margin: 0 auto 3.2rem auto;
}

#AdminContent aside {
    grid-area: aside;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1);
}

#AdminContent table {
    max-width: 1500px;
    margin: 0 auto;
}
/* --- navigation --- */
#AdminContent .main-menu ul {
    padding: 0.8rem 0;
}
#AdminContent .main-menu li {
    padding: 0 0.8rem;
}
#AdminContent .breadcrumb {
    grid-area: breadcrumb;
    margin: 0;
    padding: 0;
    padding-left: 1.6rem;
}
#AdminContent .action-menu ul {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.8rem;
}

/* --- Formulaire --- */
form h2 {
    margin: 0 0 0.8rem 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: white 1px underline;
    text-underline-offset: 0.2rem;
}
label {
    margin: 0 0 0.4rem 0!important;
    padding: 0!important;
    font-size: 0.8rem;
}
input,
textarea,
select,
button {
    margin-bottom: 0.8rem;
}

textarea {
    resize: none;
}
button {
    justify-self: end;
    width: min-content;
    min-width: 10rem;
}
#AdminContent form {
    max-width: 888px;
    margin: 0 auto;
}
#AdminContent form.film {
    display: grid;
    grid-template-columns: 138px repeat(3, 1fr) repeat(2, 138px);
    grid-auto-rows: minmax(min-content, auto);
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.8rem;
}
#AdminContent #ThumbAffiche img {
    display: block;
    margin: auto;
}
#AdminContent .en-salle #ThumbAffiche img {

}
#AdminContent .streaming #ThumbAffiche img {
    max-width: 240px;
    width: 100%;
}

/* --- FORMULAIRE FILM --- */
#AdminContent .info-alert {
    grid-row: 1;
}
#AdminContent .titre,
#AdminContent .exploitation {
    grid-row: 2;
}
#AdminContent #Nom,
#AdminContent #Cinema {
    grid-row: 3;
}
#AdminContent #DateSortie,
#AdminContent #DateDebut,
#AdminContent #DateFin {
    grid-row: 4;
}
#AdminContent #Synopsis {
    grid-row: 5;
}
#AdminContent #ThumbAffiche {
    grid-row: 5/7;
}
#AdminContent #Affiche {
    grid-row: 6;
}
#AdminContent button {
    grid-row: 8;
}

#AdminContent .info-alert {
    grid-column: 1/7;
}
#AdminContent #DateSortie {
    grid-column: 1;
}
#AdminContent #Affiche {
    grid-column: 1/4;
}
#AdminContent .titre,
#AdminContent #Nom,
#AdminContent #Synopsis {
    grid-column: 1/5;
}
#AdminContent #DateDebut {
    grid-column: 5;
}
#AdminContent #DateFin {
    grid-column: 6;
}
#AdminContent #Cinema,
#AdminContent #ThumbAffiche {
    grid-column: 5/7;
}
#AdminContent .exploitation {
    grid-column: 5/7;
}

#AdminContent button {
    grid-column: 1/-1;
}

@media screen and (max-width: 960px) {
    #AdminContent {
        grid-template-columns: 160px auto;
    }
    #AdminContent form.film {
        grid-template-columns: repeat(4,1fr);
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent label[for="SelectVille"] {
        grid-row: 4;
    }
    #AdminContent #SelectSalle,
    #AdminContent #SelectVille {
        grid-row: 5;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-row: 6;
    }
    #AdminContent label[for="InputDateDebut"],
    #AdminContent label[for="InputDateFin"] {
        grid-row: 7;
    }
    #AdminContent #InputDateDebut,
    #AdminContent #InputDateFin {
        grid-row: 8;
    }
    #AdminContent label[for="TextareaSynopsis"] {
        grid-row: 9;
    }
    #AdminContent #TextareaSynopsis {
        grid-row: 10;
    }
    #AdminContent label[for="InputAffiche"] {
        grid-row: 11;
    }
    #AdminContent #InputAffiche {
        grid-row: 12;
    }
    #AdminContent button {
        grid-row: 13;
    }
    #AdminContent .film label:first-of-type,
    #AdminContent .film input:first-of-type {
        grid-column: 1/4;
    }
    #AdminContent .film h2:first-of-type {
        grid-column: 1/5;
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent #SelectSalle {
        grid-column: 1/3;
    }
    #AdminContent label[for="SelectVille"],
    #AdminContent #SelectVille {
        grid-column: 3/5;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-column: 1/3;
    }
    #AdminContent label[for="InputDateDebut"],
    #AdminContent #InputDateDebut {
        grid-column: 1;
    }
    #AdminContent label[for="InputDateFin"],
    #AdminContent #InputDateFin {
        grid-column: 2;
    }
    #AdminContent label[for="TextareaSynopsis"],
    #AdminContent #TextareaSynopsis {
        grid-column: 1/5;
    }

}
@media screen and (max-width: 768px) {
    #AdminContent form.film {
        grid-template-columns: repeat(2, 1fr) 140px;
        grid-column-gap: 1.2rem;
    }
    #AdminContent .film h2:nth-of-type(2) {
        grid-row: 3;
    }
    #AdminContent label[for="SelectSalle"],
    #AdminContent label[for="InputDateDebut"] {
        grid-row: 4;
    }
    #AdminContent #SelectSalle,
    #AdminContent #InputDateDebut {
        grid-row: 5;
    }
    #AdminContent label[for="SelectVille"],
    #AdminContent label[for="InputDateFin"] {
        grid-row: 6;
    }
    #AdminContent #SelectVille,
    #AdminContent #InputDateFin {
        grid-row: 7;
    }
    #AdminContent label[for="TextareaSynopsis"] {
        grid-row: 8;
    }
    #AdminContent #TextareaSynopsis {
        grid-row: 9;
    }
    #AdminContent label[for="InputAffiche"] {
        grid-row: 10;
    }
    #AdminContent #InputAffiche {
        grid-row: 11;
    }
    #AdminContent button {
        grid-row: 12;
    }
    #AdminContent .film h2:first-of-type,
    #AdminContent label[for="SelectSalle"],
    #AdminContent #SelectSalle,
    #AdminContent label[for="SelectVille"],
    #AdminContent #SelectVille {
        grid-column: 1/3;
    }
    #AdminContent .film h2:nth-of-type(2),
    #AdminContent label[for="InputDateDebut"],
    #AdminContent #InputDateDebut,
    #AdminContent label[for="InputDateFin"],
    #AdminContent #InputDateFin {
        grid-column: 3;
    }
    #AdminContent label[for="TextareaSynopsis"],
    #AdminContent #TextareaSynopsis {
        grid-column: 1/4;
    }
    #AdminContent #InputAffiche,
    #AdminContent label[for="InputAffiche"] {
        grid-column: 1/4;
    }

}
/* ------------------ *\
     CSS NAVIGATION
\* ------------------ */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumb ul {
    display: flex;
}
.breadcrumb li::after {
    content: ">";
    margin: 0 0.25rem;
}
.breadcrumb li:last-of-type::after {
    content: "";
}

.pagination {
    --bs-pagination-color: var(--bs-gray);
    --bs-pagination-hover-color: var(--bs-yellow);
    --bs-pagination-focus-box-shadow: unset;
    --bs-pagination-focus-color: var(--bs-warning-text-emphasis);
    --bs-pagination-active-color: var(--bs-yellow);
    --bs-pagination-disabled-color: var(--bs-gray-dark);
    --bs-pagination-border-width: none;
    --bs-pagination-bg: unset;
    --bs-pagination-hover-bg: unset;
    --bs-pagination-focus-bg: unset;
    --bs-pagination-active-bg: unset;
    --bs-pagination-disabled-bg: unset
}
.pagination .page-link:hover:not(span) {
    text-decoration: underline overline;
    text-underline-offset: 0.35em;
}
.pagination .page-link:not(a) {
    font-weight: bold;
    cursor: default;
}
body>footer {
    height: 3em;
}

